html, body, * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  padding: 0 1rem;
}

.hide-on-med-and-down a {
  font-size: 1.5em;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
  position: relative;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.goods {
  position: relative;
}

.card .card-image {
  max-height: 70%;
  height: 100%;
}

.card .card-content {
  padding: 10px 15px;
  height: 60px;
  overflow: hidden;
}

.card .card-content p{
  height: 40px;
  overflow: hidden;
}

.card-content p {
  font-size: 0.9em;
}

.card .card-action {
  padding: 15px 20px;
}

.preloader {
  position: absolute;
  top: 40%;
  left: 45%;
}

.search-form {
  margin-bottom: 0;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 1rem
}

.filter-form {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 20px 1rem;
}

.right {
  font-weight: 600;
  line-height: 36px;
}

.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  cursor: pointer;
  z-index: 10;
  padding: 1rem;
}

@media (min-width: 767px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}

.basket-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 50rem;
  max-width: 95%;
  box-shadow: inset -1px 3px 8px 5px #1f87ff, 2px 5px 16px 0px #0b325e, 5px 5px 15px 5px rgba(0, 0, 0, 0);

  animation: show 500ms ease-in-out;
}

.basket-close {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 1.3rem;
  color: #fff;
}

.basket-delete {
  cursor: pointer;
}

@keyframes show {
  from {
    top: 70%;
    opacity: 0;
  } 
  to {
    top: 50%;
    opacity: 1;
  }
}

.btn-count {
  font-size: 16px;
  color: #26a69a;
  padding: 0 auto;
  margin: 0 10px;
  width: 30px;
  height: 20px;
  line-height: 20px;
  padding: 0;
}

#toast-container {
  top: 3rem !important;
  padding: 15px;
  color: #fff;
  background-color: rgb(90, 90, 90);
  animation: fade-in 200ms ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(2rem);
  } to {
    opacity: 1;
    transform: translateY(0rem);
  }
}